.loading-spinner {
    text-align: center;
    margin: 20px 0;
}

.img-width{
    width: 10%;
}

.delete{
    width: 5%;
    margin-right: 10px;
}

.uploadbutton{
    text-align: right;
}

.confimHeader{
    background: #5571DB 0% 0% no-repeat padding-box;
    color: white;
}

.confirmbody{
    text-align: center;
}
.confirmFooter{
    text-align: center;
    justify-content: center;
}

.search-tables{
    text-align: left;
    margin-left: 41.5%;
}