.loading-spinner {
    text-align: center;
    margin: 20px 0;
}

.img-width{
    width: 10%;
}

.delete{
    width: 5%;
    margin-right: 10px;
}

.uploadbutton{
    text-align: right;
}


.confimHeader{
    background: #23B2F8 0% 0% no-repeat padding-box;
    color: white;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}

.modal-content{
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
} 

.button{    
    background: #1586D1!important;
}

.confirmbody{
    text-align: center;
}
.confirmFooter{
    text-align: center;
    justify-content: center;
}

.search-tables{
    text-align: left;
    margin-left: 38.5%;
}
.upper{
    text-transform: uppercase;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    background-color: #23B2F8;
    border-color: #ddd;
    border-radius: 10px 10px 0px 0px;
  }
  
  .panel-body {
    padding: 15px;
  }
  
  .upper{
    text-transform: uppercase;
  }