.modal-content{
    margin-top: 1%;
}
.text-left{
    text-align: left;
}
.userlist{
    margin-bottom: 20px;
}
li > p{
    min-width: 250px;
    overflow-x: hidden;
    display: inline-block;
    max-width: 250px;
    margin-bottom: 0;
}

.modal-body-user{
    max-width: 100%;
    overflow: scroll;
    max-height: 600px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: center
  }
  .pagination li {
    display: inline
  }
  .pagination li.selected {
    display: inline;
    background-color: #4caf50;
    color: #fff
  }
  .pagination li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000
  }
  
  /* Active and Hoverable.Pagination */
  .pagination li a {
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s
      
  }
  .pagination li a.active {
    background-color: #4caf50;
    color: #fff
  }
  .pagination li a:hover:not(.active) {
    background-color: #ddd;
  } 
  
  .text-left{
    text-align: left;
  }